# =========================================================
#  Ejemplo de .env para Docker
# =========================================================
#  Copiá este archivo como .env y modificá los valores
# =========================================================

# Nombre del nodo
NOMBRE_NODO=MiNodo-Docker

# IP del nodo SIGUIENTE (a donde reenvía)
IP_SIGUIENTE=192.168.220.130

# Puerto al que ENVÍA (puerto de escucha del siguiente nodo)
PUERTO_ENVIO=63028

# Puerto donde este nodo ESCUCHA
PUERTO_ESCUCHA=62262

# Límite de reenvíos
LIMITE_CONTADOR=100
