# =========================================================
#  Variables de entorno para configurar EL NODO
# =========================================================
#  Copiá este archivo como .env y modificá los valores
# =========================================================

# Nombre del nodo (aparece en la lista de repetidores)
NOMBRE_NODO=MiNodo

# IP del nodo SIGUIENTE (a donde reenvía el mensaje)
IP_SIGUIENTE=192.168.220.130

# Puerto al que ENVÍA los mensajes (puerto de escucha del siguiente)
PUERTO_ENVIO=63028

# Puerto donde ESTE nodo ESCUCHA (donde recibe los mensajes)
PUERTO_ESCUCHA=62262

# Límite de reenvíos (cuando llega acá, el mensaje muere)
LIMITE_CONTADOR=100
